name: Hello World

on:
  pull_request:
    types: [opened]
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Run pylint
        run: pip install pylint
             pylint taskman
